@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: "Parisienne", cursive; */

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}


/*  navigation bar */
.head1{
    display: flex;
    padding-left: 20px;
    background-color:rgb(255, 197, 197);
    width: 97.6vw;
    height: 100px;

  } 
.ulitems1{
    display: flex; 
    list-style-type: none;
    padding-left: 100px; 
    margin-top: 20px; 
    align-items: center;
}

.liitems1{
    padding: 10px;
    font-family:'Poppins', sans-serif;
    padding-left: 50px;
    text-align: center;
}
.liitems2,.liitems3,.liitems4,.liitems5,.liitems6{
    padding: 25px;
    font-family:'Poppins', sans-serif;

}

.liitems1:hover, .liitems2:hover,.liitems3:hover,.liitems4:hover,.liitems5:hover,.liitems6:hover{
    
    transform: translateY(-10px);
    transition-duration: 0.2s;
    border-radius: 25px;
}
.mrandmrs{
    margin-top: 35px; 
    font-family: 'Pacifico', cursive;
    font-family: 'Tangerine', cursive; 
    font-size: 40px; color: black; 
    font-weight: bold;
}


nav{
    background-image: url(mainbackground.avif);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
  }
  a{
    color: rgb(91, 87, 87);
    text-decoration: none;
  }
  
  .logo{
    display: flex;
    padding-left: 30px;
    border-color: white;
    
  }
  .h1{
    font-size: 40px; 
    color: rgb(240, 157, 157);
  }

  .p1{
    color: rgb(62, 60, 60);
  }
  
  .button1{
    width: 110px;
    padding: 5px;
    border-radius: 5px;
    font-family:'Poppins', sans-serif;
    border-color: rgb(255, 197, 197);
   
  }
  .button2{
    width: 110px;
    padding: 5px;
    border-radius: 5px;
    font-family:'Poppins', sans-serif;
    border-color: rgb(255, 197, 197);
  }
  .login{
      display: flex;
      align-items: center;
  }

  /* responsive forrr nav bar */

 



  @media (min-width:500px) and (max-width:650px) {
    .head1{
      padding:10px;
      width: 252vw;
    }
    nav{
        background-size: cover;
        background-repeat: repeat;
        width: 255vw;
    }
    
    .loginbox2{
        margin-left: -150px;
        
    }
    .liitems1,.liitems2,.liitems3,.liitems4,.liitems5,.liitems6{
        padding: 5px;
    }
    
    .div4{
        justify-content: center;
        text-align: center;
        width: 300vw;
        height: 80px;
        
    }
    .division1,.division2,.division3{
        width: 80vw;
        
    }
    .h2,.h3,.h4{
        margin-left: 0px;
        text-align: center;
    }
    .us1{
        width: 250vw;
        height: 70vh;
        

    }
    .us4{
        width: 460px;
    }
    
    .div1{
        width: 200vw;
    }
    .select{
        text-align: center;
        margin-left: 500px;
    }
    .sec1{
        width: 270vw;
    }
    .section3{
        width: 270vw;
    }
    .bluebackground{
        
        margin-left: 100px;
    }
  }



  /* loginnnn */



  .loginbox2{
    height:730px;
    width: 100%;
}
.forma{
    background-color: white;
    height: 450px;
    width: 30%;
    margin-top:5%;
    margin-bottom: 20%  ;
    
}
.inputa,.inputb{
    width:75%;
    padding: 7px;
    border-radius: 6px;
    border-color: white;
}
pre{
    font-family: 'Times New Roman', Times, serif;
}




/* How it worksssss */

.h2,.h3,.h4{
    text-align: center;
}

.p2,.p3,.p4{
    
    color: rgb(62, 58, 58);
    text-align: center;
}
.div4{
    text-align: center;
    margin: 50px auto;

}
.part2{
    display: flex;
    margin-left: 30px;
}
.div5,.div6,.div7{
    background-color: rgb(240, 157, 157);
    box-shadow: 5px 10px 15px grey;
    border-radius: 8px;
    width: 450px;
    height: 200px;
    margin-left: 50px;
    margin: 10px;
   
}
.img1,.img2,.img3{
    width: 80px; 
    align-items: center;
    border-radius: 5px;
}




/* about us */

.aboutus{
    margin-top: 40px;
}
.us1{
    display: flex;
}
.us2{
    background-image: url(vinaya1.jpeg);
    width: 550px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin-left: 50px;

}
.us3{
    display: flex;
}
.our1,.our2,.our3{
    padding: 15px;
    width: 100px;
}
.we1,.we2,.we3{
    padding: 35px;

}

/* premium page */

.main2{
    display: flex;
}


.div1{
    margin: 40px auto;
    font-size: 40px;
    text-align: center;
    font-family:'Poppins', sans-serif;
    color: rgb(240, 157, 157);
    font-weight: bold;
}


.div2,.div3,.div3a,.div3b{
    background-color: rgb(235, 217, 180);
    box-shadow: 5px 10px 15px grey;
    border-radius: 8px;
    width: 300px;
    height: 620px;
    margin-left: 50px;
    
}
img{
    display: block;
    margin: 20px auto;
}


.purchase{
    width: 200px;
    margin:auto 50px;
    padding: 5px;
    background-color: rgb(207, 95, 113);
    border-radius: 5px;
    border-color: plum;
    color: white;

}
.purchase1{
    width: 200px;
    margin:auto 50px;
    padding: 5px;
    text-decoration:line-through;
    border-radius: 5px;
}


/* premium pageee */


/* happy stories */

.bluebackground{
    display: block;
    margin-left: 130px;
}
.sec3{
    width: 380px;
    height: 250px;
    background-image: url(happy\ couple\ 2.avif); 
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    
}
.sec4{
    width: 380px;
    height: 250px;
    background-image: url(happy\ couple\ indian\ 2.avif);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 30px;
}
.sec5{
    width: 380px;
    height: 400px;
    background-image: url(happy\ couple\ height.avif);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
}
.sec6{
    width: 380px;
    height: 250px;
    background-image: url(happy\ couple\ indian.avif);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 30px;
}
.sec7{
    width: 380px;
    height: 250px;
    background-image: url(happycouple1.avif); 
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;

}
.sec8{
    width: 380px;
    height: 450px;
    background-image: url(happy\ punjabi\ couple.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 30px;
}
.seca{
    width: 380px;
    height: 440px;
    background-image: url(happy\ couple\ height\ 2.avif);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 30px;
}
.secb{
    width: 380px;
    height: 250px;
    background-image: url(happy\ couple\ christian.avif);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 30px;
}
.secc{
    width: 380px;
    height: 400px;
    background-image: url(happy\ couple\ height3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 30px;
}
.secd{
    width: 380px;
    height: 280px;
    background-image: url(happy\ couple\ 3.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 30px;
}
.learnmore{
    width: 50px;
    height: 50px;
    padding: 50px;
    margin-top: 70px;
    margin-left: 100px;
    
}

.button3{
    width: 140px;
    height: 50px;
    font-size: 15px;
    background-color:rgb(219, 132, 219);
    border-color: rgb(219, 132, 219);
    font-weight: 400;
    color: white;
    border-radius: 15px ;
}
.hpy1{
    width: 400px; 
    height: 80px; 
    font-size: 35px;
    font-weight: bold; 
    margin-left: 600px; 
    padding: 20px;
    
}
.hpy2,.hpy4,.hpy8,.hpy10,.hpyc,.hpyg{
    width: 320px;
    padding-top: 160px;
    margin-left: 20px;
    
}
.hpy6,.hpy12,.hpya,.hpye{
    padding-top: 300px;
    margin-left: 20px;
    width: 320px;
}
.hpy3,.hpy5,.hpy7,.hpy9,.hpy11,.hpy13 ,.hpyb,.hpyd,.hpyf,.hpyh{
    background-image: linear-gradient(rgba(0, 0, 0, 0.652),rgba(0, 0, 0, 0.526));
}
.p1 ,.p2,.p3,.p4,.p5,.p6,.pa,.pb,.pc,.pd{
    color: rgb(219, 132, 219); 
    font-weight: bold;
    text-align: center;
}
/* happy stories end */

/* contact us pageeeeeeee */
.main1{
    display: flex;
    /* height: 500px; */
}
.img7{
    width: 80px;
    height: 90px;
    margin-top: 10px;
}
.div13{
    margin-top: 40px;
    font-family: 'Pacifico', cursive;
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    font-weight: 900;
    color: white;
    
    

}
.div14{
    height: 100px;
    width: 950px;
    text-align: center;
    margin-left: 250px;
}
.div12{
    height: 50px;
    margin-left: 500px;
}

.section3{
    background-image: linear-gradient(rgba(187, 63, 63, 0.834),rgba(223, 126, 188, 0.796));
    margin-top: 5px;
    
}


.section4{
    margin-left: 70px;
}
.section5,.section6,.section7{
    display: flex;
    margin-left: 70px;
}
 


@media (min-width:250px) and (max-width:500px) {
    .head1{
        width: 350vw;
    }
    nav{
        width: 350vw;
    }
    .mrandmrs{
        font-size: 30px;
        margin-top: 40px;
    }
    .loginbox2{
        margin-left: -100px;
    }
    .div4{
        width: 400vw;
    }
    .division1,.division2,.division3{
        width: 100vw;
     
        
    }
    .div2,.div3,.div3a,.div3b{
        width: 280px;
        /* margin-left: 40px; */
        
    }
    .div2{
        margin-left: 100px;
    }
    .us1{
        width: 350vw;
        height: 65vh;
    }
    .aboutus{
        height: 65vh;
    }
    .div1{
        width: 400vw;
    }
    .us4{
        width: 460px;
    }
    .sec1{
        width: 380vw;
    }
    .section3{
        width: 380vw;
    }
    .bluebackground{
        margin-left: 80px;
    }

  }
  @media (min-width:650px) and (max-width:1290px) {
    .head1{
        width:max-content;

    }
    nav{
        width: max-content;
    }
    .mrandmrs{
        font-size: 30px;
        margin-top: 40px;
    }
    
    .div4{
       width: 200vw;
    }
    .loginbox2{
        margin-left: -100px;
    }
    .division1,.division2,.division3{
        width: 50vw;
    
    }
    .aboutus{
        /* height: 65vh; */
        width: fit-content;
    }
    .us4{
        width: 460px;
    }
    .div1{
        width: 200vw;
    }
    .sec1{
        width:max-content;
    }
    .div2,.div3,.div3a,.div3b{
        width: fit-content;
        /* margin-left: 40px; */
        
    }
    .section3{
        width:max-content;
    }
    .bluebackground{
        margin-left: 50px;
    }
    .height2{
        margin-right: 50px;
    }
    
    
    
  }