*{
    margin:0;
    padding: 0;
}
section{
    background-image: url(happy\ couple\ 2.avif);
    height: 250px;
    width:450px;
    background-repeat: no-repeat;
    background-size: contain;
}