
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: "Parisienne", cursive; */

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}
.head1{
    display: flex;
    padding-left: 20px;
    background-color:rgb(255, 197, 197);
    width: 97.6vw;

  } 
  
nav{
    background-image: url(mainbackground.avif);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
  }
  a{
    color: rgb(91, 87, 87);
    text-decoration: none;
  }
  
  
  
  .logo{
    display: flex;
    padding-left: 30px;
    border-color: white;
  }
  
  .button1{
    width: 110px;
    padding: 5px;
    border-radius: 5px;
    font-family:'Poppins', sans-serif;
    border-color: rgb(255, 197, 197);
   
  }
  .button2{
    width: 110px;
    padding: 5px;
    border-radius: 5px;
    font-family:'Poppins', sans-serif;
    border-color: rgb(255, 197, 197);
  }
  .login{
      display: flex;
      align-items: center;
  }

.sec3{
    width: 380px;
    height: 250px;
    background-image: url(happy\ couple\ 2.avif); 
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    
}
.sec4{
    width: 380px;
    height: 250px;
    background-image: url(happy\ couple\ indian\ 2.avif);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 30px;
}
.sec5{
    width: 380px;
    height: 400px;
    background-image: url(happy\ couple\ height.avif);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
}
.sec6{
    width: 380px;
    height: 250px;
    background-image: url(happy\ couple\ indian.avif);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 30px;
}
.sec7{
    width: 380px;
    height: 250px;
    background-image: url(happycouple1.avif); 
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;

}
.sec8{
    width: 380px;
    height: 450px;
    background-image: url(happy\ punjabi\ couple.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 30px;
}
.seca{
    width: 380px;
    height: 440px;
    background-image: url(happy\ couple\ height\ 2.avif);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 30px;
}
.secb{
    width: 380px;
    height: 250px;
    background-image: url(happy\ couple\ christian.avif);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 30px;
}
.secc{
    width: 380px;
    height: 400px;
    background-image: url(happy\ couple\ height3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 30px;
}
.secd{
    width: 380px;
    height: 280px;
    background-image: url(happy\ couple\ 3.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 30px;
}
.learnmore{
    width: 50px;
    height: 50px;
    padding: 50px;
    margin-top: 70px;
    margin-left: 120px;
    
}

.button{
    width: 100px;
    height: 50px;
    font-size: 15px;
    background-color:rgb(219, 132, 219);
    border-color: rgb(219, 132, 219);
    font-weight: 400;
    color: white;
    border-radius: 20px ;
}
.hpy1{
    width: 400px; 
    height: 80px; 
    font-size: 35px;
    font-weight: bold; 
    margin-left: 600px; 
    padding: 20px;
    
}
.hpy2,.hpy4,.hpy8,.hpy10,.hpyc,.hpyg{
    width: 320px;
    padding-top: 160px;
    margin-left: 20px;
    
}
.hpy6,.hpy12,.hpya,.hpye{
    padding-top: 300px;
    margin-left: 20px;
    width: 320px;
}
.hpy3,.hpy5,.hpy7,.hpy9,.hpy11,.hpy13 ,.hpyb,.hpyd,.hpyf,.hpyh{
    background-image: linear-gradient(rgba(0, 0, 0, 0.652),rgba(0, 0, 0, 0.526));
}
.p1 ,.p2,.p3,.p4,.p5,.p6,.pa,.pb,.pc,.pd{
    color: rgb(219, 132, 219); 
    font-weight: bold;
    text-align: center;
}