@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family:'Poppins', sans-serif;
}
.div1{
    width: 300px;
    /* background-color: gray; */
    text-align: justify;
}
tr,td{
    padding: 30px;
}