

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: "Parisienne", cursive; */

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}

.head1{
    display: flex;
    padding-left: 20px;
    background-color:rgb(255, 197, 197);
    width: 97.6vw;

  } 
  

  a{
    color: rgb(91, 87, 87);
    text-decoration: none;
  }
  
  
  
  .logo{
    display: flex;
    padding-left: 30px;
    border-color: white;
  }
  
  .button1{
    width: 110px;
    padding: 5px;
    border-radius: 5px;
    font-family:'Poppins', sans-serif;
    border-color: rgb(255, 197, 197);
   
  }
  .button2{
    width: 110px;
    padding: 5px;
    border-radius: 5px;
    font-family:'Poppins', sans-serif;
    border-color: rgb(255, 197, 197);
  }
  .login{
      display: flex;
      align-items: center;
  }
.div1{
    margin: 40px auto;
    font-size: 40px;
    text-align: center;
    font-family:'Poppins', sans-serif;
    color: rgb(240, 157, 157);
    font-weight: bold;
}


.div2,.div3,.div3a,.div3b{
    background-color: rgb(233, 189, 233);
    box-shadow: 5px 10px 15px grey;
    border-radius: 8px;
    width: 300px;
    height: 650px;
    margin-left: 50px;
    
}
img{
    display: block;
    margin: 20px auto;
}


.purchase{
    width: 200px;
    margin:auto 50px;
    padding: 5px;
    background-color: rgb(207, 95, 113);
    border-radius: 5px;
    border-color: plum;
    color: white;

}
.purchase1{
    width: 200px;
    margin:auto 50px;
    padding: 5px;
    text-decoration:line-through;
    border-radius: 5px;
}