nav{
    display: flex;
    justify-content: space-between;
    padding-left: 180px;
    padding-right:120px;
    align-items: center;

    
    
}

ul{
    display: flex;
    list-style-type: none;
    /* padding-right: 200px; */
    justify-content: space-between;
    color: white;
    
}

li{
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    
}
   
section{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
    height: 85vh;
    background-image: linear-gradient(rgba(16, 16, 16, 0.837),rgba(30, 27, 27, 0.821)),url(./sclimg.jpeg);
    ( rgba(128,128,128,0.597), rgba(200,196,196,0.489))
}

.div1{
    
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    font-family: 'Ubuntu', sans-serif;
    color: white
}
.div2{
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    font-family: 'Ubuntu', sans-serif;
}
.div3{
    text-align: center;
    padding-top: 200px;
}
.p1{
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    font-family: 'Ubuntu', sans-serif;
    color: yellow;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
  }

.p2{
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
    font-family: 'Ubuntu', sans-serif;
    color: white;
    word-spacing: 2px;
    font-size: x-large;
}
button{
    align-items: center;
    background-color: rgb(25, 189, 25);
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    width: 120px;
    height: 40px;
    

}
