*{
    padding: 0;
    margin: 0;
}

h5{
    color: brown;
}

#Welcome{
    background-color: red;
}

.bg{
    background-color: aquamarine;
}

h1{
    padding: 10px;
}

#about{
    border: 2px solid green;
}

input[type='text']{
    padding: 10px;
}
h5:first-of-type{

}
h5:last-of-type{

}
h5:nth-of-type(3){
    color: chartreuse;
}

div > h1{
    color: coral;
}

div h1:first-child{         /*  :last-child , :nth-child() */
    background-color: blue;
}