@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family:'Poppins', sans-serif;
}
.container{
    
     justify-content: center;   
    
}
nav{
    background-image: url(bgpurple2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}



.widthbox{
    /* margin-left: 120px;
    margin-right: 120px; */
    padding: 80px 150px 80px 150px;
    width: 80%;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200vw;
    
   
}
.div1{
    display: flex;
    justify-content: center;
    
    
}
.H1{
    font-size: 38px;
    font-weight: bold;
    padding: 20px;
    background-color:white;
    border-radius: 50%;
    color: rgb(170, 22, 116);
}
.p1{
    font-size: 12px;
    padding: 35px 25px 25px 10px;
    color: white;
    

}
.b1{
    padding: 20px 40px 20px 40px;
    border-radius: 40px;
    font-size: 15px;
    background-color: rgb(255, 106, 0);
    border: none;
    font-weight: bold;
    color: white;
}
.div3{
    /* width:600px; */
    color: white;
    /* background-color: black; */
   
    
    
}
.p2{
    font-size: 55px;
    font-weight: bolder;
   
   
}
.p3{
    font-size: 35px;
    font-weight: bold;
   
    
}
.form{
    width: fit-content;
    background-color:white;
    padding: 32px;
    border-radius: 30px;
}
.H2{
    font-size: 32px;
    color: rgb(11, 11, 93);
}
.sec1{
    padding-top: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;

}
input{
    padding: 10px;
    border-radius: 15px;
    width: 300px;
    border: 1px solid rgb(184, 177, 177);
    
}
.b2{
    padding: 10px 20px 10px 20px;
    border-radius:20px;
    background-color:rgb(255, 106, 0);
    border: none;
    font-weight: bold;
    color: white;
}

@media(max-width:450px) {



    nav{
       width: 250vw;
       height: 150vh;
    }
    .div1{
        
        height: 100px;
    }
    .imgdiv{
            height: 110vh;
    }
    

    .form{
        width: 500px;

    }
    input{
        width: 450px;
    }
    img{
        object-fit: cover;
        height: 150vh;
        
    }
    
    /* .H1{
        font-size: 25px;
        font-weight: bold;
        padding: 20px;
        border-radius: 70%;
    } */
    .widthbox{
        width: 100%;
        /* margin-left:30vw; */
        padding: 80px 200px 80px 200px;
        
    }
    
    .sec1{
        flex-direction: column;
    }
    .p2{
        font-size: 55px;
        
        
       

    }
    .div3{
        width:fit-content;
        /* background-color: black; */
        text-align: center;
        
    }
    .p3{
        font-size: 35px;
        
        
        
    }



}

@media (max-width:350px) {

    .form{
        width: 350px;
    }
    input{
        width: 300px;
    }
    
}


@media (min-width:750px) and (max-width:1200px) {

    
    .widthbox{
        width: 100%;
        
        margin-left: 80px;
    }
    .div3{
        width: 500px;
       
    }
    .p2{
        font-size: 45px;

    }
    .p3{
        font-size: 25px;
    }
    
    
}

.div4,.div6{
    text-align: center;
    align-items: center;
    
}

